@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Kanit", sans-serif;
}

header {
    padding-top: 20px;
    padding-bottom: 20px ;
    color: black;
    text-align: center;
}

.header a {
    color: black;
}

.foto-containers {
    background-image: linear-gradient(
        rgba(0,0,0,0.3), 
        rgba(0,0,0,0.7)),
        url(Imagenes/background.jpg);

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

/* Ajustar el tamaño de las imágenes */
.foto-containers img {
    width: 100%; 
    height: auto; 
    max-width: 150px; 
    padding-top: 20px;
}

.foto-containers {
    text-align: center;

}
.foto-containers h3 {
    text-align: center;
    
}

.cuadro-1 {
    margin-bottom: 30px; /*spacio entre cada grupo de imágenes */
    margin-top: 30px;
    padding: auto; 
}

.foto-info-container h3 {
    margin-top: 15px;
}
.foto-info-container img { 
width: 100%; /* Que ocupe el 100% del contenedor */
height: auto; /* Mantener proporciones */
max-width: 300px; /*Limitar el tamaño máximo */
border-radius: 20px; /*da curvatura a cuadro*/
}
.cuadro-2 {
    margin-bottom: 250px; /* Espacio entre cada grupo de imágenes */
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: auto; 
    width: 100%; 
    text-align: center;
}

footer{
    padding-bottom: 20px;
    text-align: center;
}

.footer h3{
    padding-bottom: 20px;
    text-align: center;
    padding-top: 10px;
}

.footer-content {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

.titulo-obras {
    padding-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}

.opinions {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #0000007b;
    width: 400px; 
    margin: 0 auto; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.opinions input[type="text"],
.opinions textarea {
    width: 80%; 
    padding: 10px; 
    margin: 10px 0;
    box-sizing: border-box; 
}
.aspecto-principal {
    background-image: linear-gradient(
        rgba(0,0,0,0.3), 
        rgba(0,0,0,0.7)),
        url(Imagenes/background.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    background-attachment: fixed;
}

.cuadro-2 img {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 300px; 
    width: 100%;
    height: auto; 
}

.descripcion {
    text-align: center;
    padding-top: 50px;

}

.descripcion a {
    display: inline-block; 
    width: 60%; 
    max-width: 500px; 
    margin: 0 auto; 
    text-align: justify; 
    padding: 10px; 
    line-height: 1.6; 
    font-size: 20px;
}
.opinion-autor {
    text-align: center;
}
.opinion-autor a{
    font-style: italic;
    display: inline-block; 
    width: 60%; 
    max-width: 500px; 
    margin: 0 auto; 
    text-align: justify; 
    padding: 10px; 
    line-height: 1.6; 
    font-size: 20px;
}

.boton-container {
    padding-bottom: 40px;
}

.fecha {
    font-style: italic;
    color:darkgrey;
}

.botones-container {
    display: flex;
    justify-content: space-evenly; 
    gap: 100px; 
    padding: 60px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.new-cuadro {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #00000064;
    width: 400px; 
    margin: 0 auto; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
.new-cuadro input[type="text"],
.new-cuadro textarea,
.new-cuadro input[type="date"],
.new-cuadro input[type="file"] {
    width: 80%; /* Ajusta el ancho*/
    padding: 10px; 
    margin: 10px 0; /* Añade margen superior e inferior */
    box-sizing: border-box; /*padding no afecta el ancho total */
}

