<!--PAGINA QUE USA AJAX PARA PEGAR CONTENIDO PARCIAL EN INDEX.HTML-->
<div id="content"><!-- Llama al contenido y lo pega -->
    <div class="container">
        <div class="row">
            {{#cuadros}}
            <div class="col-md-4 cuadro-1">
                <a href="info.html/{{id}}">
                <img src="/cuadro/{{id}}/image" alt="imagen-{{id}}"> 
                <h3>{{title}}</h3>
                <p>{{style}}</p>
            </a>
            </div>
            {{/cuadros}}
        </div>
    </div>
</div>