<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="../faviconVVISUAL.png">
        <link rel="stylesheet" href="/style.css">
    </head>
<body>
    <div >

        {{>header}}
    
        <section class="aspecto-principal">
        <div class="new-cuadro">

   <h1>Editar Reseña</h1>
    <form action="/cuadro/{{cuadro.id}}/confirm-edit-review/{{reviewId}}" method="POST">
        <br><label for="title">Usuario:</label>
        <br><input type="text" name="user" id="user" value="{{review.user}}" required>
        <br>
        <br><label for="content">Contenido:</label>
        <br><textarea name="text" id="text" rows="6" required>{{review.text}}</textarea>
        <br>
        <br><label for="rating">Calificación (1-5):</label>
        <select class="number-rating" id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select> <br>
        <br><br><button type="submit" value="save" class="btn btn-primary btn-lg">Guardar Cambios</button>
        <button type="button" class="btn btn-danger btn-lg" onclick="location.href='/'">Volver a la pagina principal</button>

    </form>


    </section>

{{>footer}}

</body>
</html>